<div class="form-group">
	<label class="col-sm-3 control-label">Collection URL</label>
	<div class="col-sm-9 controls label-only"><%= job['collection_url'] %></div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">Mapped resource URI</label>
	<div class="col-sm-9 controls label-only"><%= job['resource_uri'] %></div>
</div>